.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.details {
  display: flex;
  align-items: center;
}
.comment-data {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border: 1px solid #94a3b8;
  border-left: none;
  border-right: none;
  border-top: none;
}
.profile {
  font-size: 20px;
  color: #ffffff;
  background-color: #f59e0b;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 23px;
  color: #475569;
  margin-bottom: 10px;
  margin-left: 20px;
}

.comment {
  font-size: 17px;
  color: #475569;
  margin-left: 68px;
}
