.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.details {
  display: flex;
  align-items: center;
}
.comment-data {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border: 1px solid #94a3b8;
  border-left: none;
  border-right: none;
  border-top: none;
}
.profile {
  font-size: 20px;
  color: #ffffff;
  background-color: #f59e0b;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 23px;
  color: #475569;
  margin-bottom: 10px;
  margin-left: 20px;
}

.comment {
  font-size: 17px;
  color: #475569;
  margin-left: 60px;
}
.like-button {
  background-color: transparent;
  border: none;
  width: 25px;
  cursor: pointer;
}
.delete-button {
  background-color: transparent;
  border: none;
  width: 25px;
  cursor: pointer;
}
.like-image {
  height: 30px;
}

.delete-image {
  width: 30px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
